@import "tailwindcss";

h1 {
  font-family: jaro;
}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(80vh);
  }
}

.food {
  animation: fall 2s forwards;
}
