@import "tailwindcss";

.jaro-font {
  font-family: jaro;
}

.psychedelic-bg {
}

.frame {
  border: 20px solid;
  border-image: linear-gradient(45deg, #c0a040, #f5d060, #c0a040, #8b7020) 1;
  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 30px rgba(0, 0, 0, 0.8);
}
